<header role="banner">
    <div class="wrapper col-md-12 col-lg-12">
        <div class="logo col-md-5 col-lg-5 col-xs-5">
            <a href="" class="logoimg">
                <img src="../../../content/images/download.png" class="img-responsive phone-image" alt="AVIVA Logo">
            </a>
        </div>
        <div class="col-md-7 col-lg-7 col-xs-7 noPadding">
            <h1 class="heading-size">Motor insurance quote</h1>
        </div>
    </div>
</header>
<div class="container contwidth" title="" name="" id="" aria-label="">
    <div class="row hidden-xs" title="" name="" id="" aria-label="">
        <ul class="breadcrumb-triangular col-md-12 col-lg-12">
            <li><a href="#"><span class="stage">1</span><span class="stageText">Your Details</span></a></li>
            <li><a href="#"><span class="stage">2</span><span class="stageText">Your vehicles</span></a></li>
            <li><a href="#"><span class="stage">3</span><span class="stageText">Driver/vehicles</span></a></li>
            <li><a href="#"><span class="stage">4</span><span class="stageText">Final Details</span></a></li>
            <li><a href="#"><span class="stage">5</span><span class="stageText">Your quote</span></a></li>
            <li><a href="#"><span class="stage">6</span><span class="stageText">Buy</span></a></li>
        </ul>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <h2 class="text-center offerMessage" contenteditable="false" title="" name="" id="">We share our customer reviews on our website, so you can see for yourself before you buy</h2>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <p class="text-right retrieveQuote" style="" spellcheck="" contenteditable="false" title="" name="" id="">Already have a quote?
            <button class="btn btn-default" type="button" title="" name="" id="" value="" aria-label="">Retrieve it here<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </p>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <div class="col-md-12 col-lg-12 padleftZero" title="" name="" id="" aria-label="">
            <div class="col-md-9 col-lg-9 centerarea" title="" name="" id="" aria-label="">
                <div class="col-md-10 col-lg-10 padleftZero" title="" name="" id="" aria-label="">

                    <form role="form" name="avivaform">
                        <h3 class="first" spellcheck="" contenteditable="false" title="" name="" id="subtitle">About You</h3>
                        <div class="form-group firstform">
                            <label style="" for="" role="" title="" name="" id="">What type of quote would you like?</label>
                            <div class="hidden-sm hidden-xs" style="" value="" title="" name="" id="" aria-label="">
                                <ul class="padleftZero carul">
                                    <li class="">
                                        <button class="btn btn-default btn-lg car" type="button" title="" name="" id="singleVehicleSelector" value="" aria-label="">
                                            <i class="fa fa-car" aria-hidden="true"></i>
                                            </button>
                                        <p class="infopara">I would like a quote for one vehicle</p>
                                    </li>
                                    <li class="secondli">
                                        <button class="btn btn-default btn-lg car secondcar" type="button" title="" name="" id="multiVehicleSelector" value="" aria-label="">
                                            <i class="fa fa-taxi" aria-hidden="true"></i>
                                            </button>
                                        <p class="infopara">I would like a quote for more than one vehicle</p>
                                    </li>
                                </ul>
                            </div>
							<div class="visible-xs visible-sm">
								<select class="form-control" name="quoteType">
									<option value="single">One vehicle</option>
									<option value="multiple">Multiple vehicles</option>
								</select>
							</div>
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">Title</label>
                            <ul class="padleftZero">
                                <li class="" style="" value="" title="" name="" id="" aria-label="">
                                    <button class="btn btn-default titlebtn" type="button" title="" name="" id="MR" value="" aria-label="">Mr</button>
                                    <button class="btn btn-default titlebtn" type="button" title="" name="" id="MRS" value="" aria-label="">Mrs</button>
                                    <button class="btn btn-default titlebtn" type="button" title="" name="" id="" value="" aria-label="">Miss</button>
                                    <button class="btn btn-default titlebtn" type="button" title="" name="" id="" value="" aria-label="">Ms</button>
                                    <button class="btn btn-default titlebtn" type="button" title="" name="" id="" value="" aria-label="">Dr</button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">First name</label>
                            <input type="text" style="" class="form-control formwidth" autocomplete="off" title="" name="firstname" id="PrincipalPolicyHolder_FirstName"
                                placeholder="" value="" size="" aria-label="" maxlength="32" ng-model="firstname" required/>
                            
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">Last name</label>
                            <input type="text" style="" class="form-control formwidth" autocomplete="" title="" name="lastname" id="PrincipalPolicyHolder_LastName"
                                placeholder="" value="" size="" aria-label="" maxlength="" ng-model="lastname">
                            
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">Date of birth</label>
                            <ul class="padleftZero">
                                <li class="carul">
                                    <input type="number" class="form-control forminput" style="" placeholder="DD" autocomplete="" title="" name="" id="date"
                                        aria-label="" min="1" max="31">
                                    <input type="number" class="form-control forminput" style="" placeholder="MM" autocomplete="" title="" name="" id="month"
                                        aria-label="" min="1" max="12">
                                    <input type="number" class="form-control forminput biginput" placeholder="YYYY" style="" autocomplete="" title="" name=""
                                        id="year" aria-label="" min="1900" max="2016">
                                </li>
                            </ul>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">Maritial status</label>
                            <select id="PrincipalPolicyHolder_MaritalStatus" class="form-control formwidth" style="" title="" name="" id="">
                                    <option>Please select...</option>
                                    <option value="S">Single</option>
                                    <option value="M">Married</option>
                                    <option value="C">Common law</option>
                                    <option value="D">Divorced</option>
                                    <option value="W">Widowed</option>
                                    <option value="L">Civil partner</option>
                                    </select>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">What is your postcode?</label>
                            <input type="text" style="" class="form-control formwidth" autocomplete="" title="" name="postcode" id="PrincipalPolicyHolder_PostCode"
                                placeholder="" value="" size="" aria-label="" maxlength="" ng-model="postcode">
                            <span ng-show="avivaform.postcode.$touched && avivaform.postcode.$invalid" id="msg">postcode is required.</span>
                            <button class="btn btn-default btn-lg addbutton" type="button" title="" name="" id="" value="" aria-label="">Find my address<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">Email address</label>
                            <input type="email" class="form-control formwidth" style="" autocomplete="" title="" name="email" id="PrincipalPolicyHolder_EmailAddress"
                                placeholder="" size="" aria-label="" ng-model="email">
                           
                            <p class="para" style="" spellcheck="" contenteditable="false" title="" name="" id="">We"ll use this email to send you your quote details, so please check it"s correct. We won"t share
                                this email address with other companies.</p>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">Preferred telephone number</label>
                            <input type="tel" class="form-control formwidth" style="" autocomplete="" title="" name="telephone" id="PrincipalPolicyHolder_TelephoneNumber"
                                placeholder="" size="" maxlength="" aria-label="" ng-model="telephone">
                           
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">How many cars or vans are there at this address?</label>
                            <ul class="padleftZero">
                                <li class="" style="" value="" title="" name="" id="" aria-label="">
                                    <button class="btn btn-default btn-lg titlebtn" type="button" title="" name="" id="1" value="" aria-label="">1</button>
                                    <button class="btn btn-default btn-lg titlebtn" type="button" title="" name="" id="2" value="" aria-label="">2</button>
                                    <button class="btn btn-default btn-lg titlebtn" type="button" title="" name="" id="" value="" aria-label="">3</button>
                                    <button class="btn btn-default btn-lg titlebtn" type="button" title="" name="" id="" value="" aria-label="">4</button>
                                    <button class="btn btn-default btn-lg titlebtn" type="button" title="" name="" id="" value="" aria-label="">5+</button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">What is your main employment type?</label>
                            <select class="form-control formwidth" style="" title="" name="" id="empType">
                                    <option  selected>Please select...</option>
                                    <option value="E">Employed</option>
                                    <option value="S">Self-employed</option>
                                    <option value="R">Retired</option>
                                    <option value="N">Not employed due to disability</option>
                                    <option value="H">Household duties</option>
                                    <option value="F">Full/Part time education</option>
                                    <option value="V">Voluntary Worker</option>
                                    <option value="U">Unemployed</option>                                    
                                    </select>
                        </div>
                        <div class="form-group form2 col-md-12 col-lg-12" title="" name="" id="" aria-label="" style="text-align: right;">
                            <a class="btn btn-default btn-lg addbutton" href="/#secondview" type="button" title="" name="" id="continue" value=""
                                aria-label="">Continue<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-lg-2" title="" name="" id="" aria-label="">
                </div>
            </div>
            <div class="col-md-3 col-lg-3 padrightzero hidden-xs" title="" name="" id="" aria-label="">
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-commenting-o" aria-hidden="true"></i>Ask us</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="">Have a question?</label>
                                <input type="text" class="form-control" name="" value="" placeholder="Type your question here...">
                                <button type="submit" class="btn btn-default btn-lg askbtn">Ask<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer backwhite footpad">
                        <h3 class="foothead">
                            <a href="" class="footfont">Browse our  FAQs<i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        </h3>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-phone" aria-hidden="true"></i>Call us</h3>
                    </div>
                    <div class="panel-body">
                        <a href="" class="connum">0800 260 0461</a>
                        <div class="daypad">
                            <span>Monday to Friday</span>
                            <span class="float-right">8.00am - 8.00pm</span>
                        </div>
                        <div class="daypad">
                            <span>Saturday</span>
                            <span class="float-right">8.30am - 5.00pm</span>
                        </div>
                        <div class="daypad">
                            <span>Sunday</span>
                            <span class="float-right">10.00am - 4.00pm</span>
                        </div>
                        <p>For our joint protection, telephone calls may be recorded and/or monitored</p>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-info-circle" aria-hidden="true"></i>Further information</h3>
                    </div>
                    <div class="panel-body">
                        <a href="">Summary of cover<i class="fa fa-chevron-right float-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="panel-footer backwhite">
                        <a href="" class="">About our insurance services<i class="fa fa-file-pdf-o pdf" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-info-circle" aria-hidden="true"></i>Why choose us...</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="padleftZero">
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Online Documents</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Uninsured driver promise</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>24/7 UK accident helpline</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Manage your policy online</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Defaqto 5 Star rated cover</li>
                        </ul>
                        <p class="text-center"><img src="../../../content/images/defaqto.jpg" alt="Ratings" class="ratimg"></p>
                        <p class="morepara"><a href="" class="moreinfo">More info</a></p>
                    </div>
                    <div class="panel-footer backwhite">
                        <a href="" class="">About our insurance services<i class="fa fa-file-pdf-o pdf" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-lock" aria-hidden="true"></i>We're secure</h3>
                    </div>
                    <div class="panel-body">
                        <a href=""><img src="../../../content/images/comodo_secure_100x85_white.png" alt="Secure" class=""></a>
                        <p>Buy with confidence. We offer the highest level of security available on the internet. Powered by
                            Comodo.
                        </p>
                        <p class="morepara"><a href="" class="moreinfo">More info</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer role="contentinfo">
    <ul class="site-info hidden-xs">
        <li>
            <a href="">Accessibility<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Legal<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Privacy policy<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Cookie policy<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
    </ul>
    <p class="copyright">© 2016 Aviva</p>
</footer>