<header role="banner">
    <div class="wrapper col-md-12 col-lg-12">
        <div class="logo col-md-5 col-lg-5 col-xs-5">
            <a href="" class="logoimg">
                <img src="../../../content/images/download.png" class="img-responsive phone-image" alt="AVIVA Logo">
            </a>
        </div>
        <div class="col-md-7 col-lg-7 col-xs-7 noPadding">
            <h1 class="heading-size">Motor insurance quote</h1>
        </div>
    </div>
</header>
<div class="container contwidth" title="" name="" id="" aria-label="">
    <div class="row hidden-xs" title="" name="" id="" aria-label="">
        <ul class="breadcrumb-triangular col-md-12 col-lg-12">
            <li><a href="#"><span class="stage">1</span><span class="stageText">Your Details</span></a></li>
            <li><a href="#"><span class="stage">2</span><span class="stageText">Your vehicles</span></a></li>
            <li><a href="#"><span class="stage">3</span><span class="stageText">Driver/vehicles</span></a></li>
            <li><a href="#"><span class="stage">4</span><span class="stageText">Final Details</span></a></li>
            <li><a href="#"><span class="stage">5</span><span class="stageText">Your quote</span></a></li>
            <li><a href="#"><span class="stage">6</span><span class="stageText">Buy</span></a></li>
        </ul>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <h2 class="text-center offerMessage" contenteditable="false" title="" name="" id="">We share our customer reviews on our website, so you can see for yourself before you buy</h2>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <p class="text-right retrieveQuote" style="" spellcheck="" contenteditable="false" title="" name="" id="">Already have a quote?
            <button class="btn btn-default" type="button" title="" name="" id="" value="" aria-label="">Retrieve it here<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </p>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <div class="col-md-12 col-lg-12 padleftZero" title="" name="" id="" aria-label="">
            <div class="col-md-9 col-lg-9 centerarea" title="" name="" id="" aria-label="">
                <div class="col-md-12 col-lg-12 padleftZero" title="" name="" id="" aria-label="">
                    <h3 class="fourthh3">Thank you for completing our quote form.</h3>
<h4 class="fourthh4">Based on the information you have given us, we will get back to offer you a car insurance.</h4>
 </div>
            </div>
            <div class="col-md-3 col-lg-3 padrightzero" title="" name="" id="" aria-label="">
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-commenting-o" aria-hidden="true"></i>Ask us</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="">Have a question?</label>
                                <input type="text" class="form-control" name="" value="" placeholder="Type your question here...">
                                <button type="submit" class="btn btn-default btn-lg askbtn">Ask<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer backwhite footpad">
                        <h3 class="foothead">
                            <a href="" class="footfont">Browse our  FAQs<i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        </h3>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-phone" aria-hidden="true"></i>Call us</h3>
                    </div>
                    <div class="panel-body">
                        <a href="" class="connum">0800 260 0461</a>
                        <div class="daypad">
                            <span>Monday to Friday</span>
                            <span class="float-right">8.00am - 8.00pm</span>
                        </div>
                        <div class="daypad">
                            <span>Saturday</span>
                            <span class="float-right">8.30am - 5.00pm</span>
                        </div>
                        <div class="daypad">
                            <span>Sunday</span>
                            <span class="float-right">10.00am - 4.00pm</span>
                        </div>
                        <p>For our joint protection, telephone calls may be recorded and/or monitored</p>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-info-circle" aria-hidden="true"></i>Further information</h3>
                    </div>
                    <div class="panel-body">
                        <a href="">Summary of cover<i class="fa fa-chevron-right float-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="panel-footer backwhite">
                        <a href="" class="">About our insurance services<i class="fa fa-file-pdf-o pdf" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-info-circle" aria-hidden="true"></i>Why choose us...</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="padleftZero">
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Online Documents</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Uninsured driver promise</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>24/7 UK accident helpline</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Manage your policy online</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Defaqto 5 Star rated cover</li>
                        </ul>
                        <p class="text-center"><img src="../../../content/images/defaqto.jpg" alt="Ratings" class="ratimg"></p>
                        <p class="morepara"><a href="" class="moreinfo">More info</a></p>
                    </div>
                    <div class="panel-footer backwhite">
                        <a href="" class="">About our insurance services<i class="fa fa-file-pdf-o pdf" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-lock" aria-hidden="true"></i>We're secure</h3>
                    </div>
                    <div class="panel-body">
                        <a href=""><img src="../../../content/images/comodo_secure_100x85_white.png" alt="Secure" class=""></a>
                        <p>Buy with confidence. We offer the highest level of security available on the internet. Powered by
                            Comodo.
                        </p>
                        <p class="morepara"><a href="" class="moreinfo">More info</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer role="contentinfo">
    <ul class="site-info hidden-xs">
        <li>
            <a href="">Accessibility<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Legal<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Privacy policy<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Cookie policy<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
    </ul>
    <p class="copyright">© 2016 Aviva</p>
</footer>