<header role="banner">
    <div class="wrapper col-md-12 col-lg-12">
        <div class="logo col-md-5 col-lg-5 col-xs-5">
            <a href="" class="logoimg">
                <img src="../../../content/images/download.png" class="img-responsive phone-image" alt="AVIVA Logo">
            </a>
        </div>
        <div class="col-md-7 col-lg-7 col-xs-7 noPadding">
            <h1 class="heading-size">Motor insurance quote</h1>
        </div>
    </div>
</header>
<div class="container contwidth" title="" name="" id="" aria-label="">
    <div class="row hidden-xs" title="" name="" id="" aria-label="">
        <ul class="breadcrumb-triangular col-md-12 col-lg-12">
            <li><a href="#"><span class="stage">1</span><span class="stageText">Your Details</span></a></li>
            <li><a href="#"><span class="stage">2</span><span class="stageText">Your vehicles</span></a></li>
            <li><a href="#"><span class="stage">3</span><span class="stageText">Driver/vehicles</span></a></li>
            <li><a href="#"><span class="stage">4</span><span class="stageText">Final Details</span></a></li>
            <li><a href="#"><span class="stage">5</span><span class="stageText">Your quote</span></a></li>
            <li><a href="#"><span class="stage">6</span><span class="stageText">Buy</span></a></li>
        </ul>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <h2 class="text-center offerMessage" contenteditable="false" title="" name="" id="">We share our customer reviews on our website, so you can see for yourself before you buy</h2>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <p class="text-right retrieveQuote" style="" spellcheck="" contenteditable="false" title="" name="" id="">Already have a quote?
            <button class="btn btn-default" type="button" title="" name="" id="" value="" aria-label="">Retrieve it here<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </p>
    </div>
    <div class="row" title="" name="" id="" aria-label="">
        <div class="col-md-12 col-lg-12 padleftZero" title="" name="" id="" aria-label="">
            <div class="col-md-9 col-lg-9 centerarea" title="" name="" id="" aria-label="">
                <div class="col-md-10 col-lg-10 padleftZero" title="" name="" id="" aria-label="">
                    <form role="form">
                        <h3 class="first" spellcheck="" contenteditable="false" title="" name="" id="subtitlepage2">Tell us about your vehicle</h3>
                        <div class="form-group firstform">
                            <label style="" for="" role="" title="" name="" id="">Do you know your registration number?</label>
                            <div class="" style="" value="" title="" name="" id="" aria-label="">
                                <ul class="padleftZero carul">
                                    <li>
                                        <button class="btn btn-default btn-lg car car2" type="button" title="" name="" id="singleVehicleSelector1" value="" aria-label="">Yes</button>
                                        <button class="btn btn-default btn-lg car car2 secondcar car2mar" type="button" title="" name="" id="multiVehicleSelector2"
                                            value="" aria-label="">No</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">Registration number (required to buy online)</label>
                            <input type="text" class="form-control numplate" name="" value="" id="regnumber">
                            <button type="submit" class="btn btn-default btn-lg addbutton">Find my vehicle<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">What is the approximate value of your vehicle?</label>
                            <select id="PrincipalPolicyHolder_MaritalStatus1" class="form-control formwidth" style="" title="" name="" id="appvalue">
            <option>Please select...</option>
            <option value="1">Under £5,000</option>
            <option value="5001">£5,000 to £14,999</option>
            <option value="15001">£15,000 to £24,999</option>
            <option value="25001">£25,000 to £34,999</option>
            <option value="4">£35,000 and over</option>
        </select>
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">Is this vehicle modified?</label>
                            <div class="" style="" value="" title="" name="" id="" aria-label="">
                                <ul class="padleftZero carul">
                                    <li>
                                        <button class="btn btn-default btn-lg car car2 secondcar" type="button" title="" name="" id="yes" value="" aria-label="">Yes</button>
                                        <button class="btn btn-default btn-lg car car2 car2mar" type="button" title="" name="" id="no" value="" aria-label="">No</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">How many miles will this vehicle travel this year?</label>
                            <select class="form-control formwidth" id="Vehicle_VehicleAnnualMileage" name="Vehicle.VehicleAnnualMileage" autocomplete="off"><option value="">Please select...</option>
            <option value="12">Less than 1,000</option>
            <option value="13">Less than 2,000</option>
            <option value="14">Less than 3,000</option>
            <option value="15">Less than 4,000</option>
            <option value="17">Less than 6,000</option>
            <option value="19">Less than 8,000</option>
            <option value="21">Less than 10,000</option>
            <option value="23">Less than 12,000</option>
            <option value="26">Less than 15,000</option>
            <option value="27">Less than 20,000</option>
            <option value="28">Less than 25,000</option>
            <option value="29">Less than 30,000</option>
            <option value="31">Less than 40,000</option>
            <option value="33">Less than 50,000</option>
            <option value="35">Less than 60,000</option>
            <option value="36">Less than 70,000</option>
            <option value="37">Less than 80,000</option>
            <option value="38">Less than 90,000</option>
            <option value="47">Less than 100,000</option>
            <option value="52">Less than 150,000</option>
</select>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">Where is this vehicle normally kept overnight?</label>
                            <select id="overnight" class="form-control formwidth" style="" title="" name="">
            <option value="">Please select...</option>
            <option value="5">Car park</option>
            <option value="4">Driveway</option>
            <option value="1">Garaged at home</option>
            <option value="3">Kept on public road</option>
            <option value="O">Other</option>
        </select>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">Are you the owner and registered keeper of this vehicle?</label>
                            <div class="" style="" value="" title="" name="" id="" aria-label="">
                                <ul class="padleftZero carul">
                                    <li>
                                        <button class="btn btn-default btn-lg car car2" type="button" title="" name="" id="singleVehicleSelector2" value="" aria-label="">Yes</button>
                                        <button class="btn btn-default btn-lg car car2 secondcar car2mar" type="button" title="" name="" id="multiVehicleSelector"
                                            value="" aria-label="">No</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">How do you use this vehicle?</label>
                            <div>
                                <ul class="padleftZero">
                                    <li class="marlibott">
                                        <button type="button" class="btn btn-default btn-lg btnul">Social, domestic & pleasure only</button>
                                    </li>
                                    <li class="marlibott">
                                        <button type="button" class="btn btn-default btn-lg btnul btnul2" id="button">All of the above, plus commuting</button>
                                    </li>
                                    <li class="marlibott">
                                        <button type="button" class="btn btn-default btn-lg btnul btnul2">All of the above, plus personal business use</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default btn-lg btnul btnul2">All of the above, plus employer's business use</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group form2" title="" name="" id="" aria-label="">
                            <label style="" for="" role="" title="" name="" id="">When would you like cover to start for this vehicle?</label>
                            <div>
                                <ul class="padleftZero carul">
                                    <li class="car2mar">
                                        <select class="form-control" id="Vehicle_Cover_CoverStartDateDay" name="Vehicle.Cover.CoverStartDateDay" autocomplete="off"><option value="">DD</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
                                    </li>
                                    <li class="car2mar">
                                        <select class="form-control" id="Vehicle_Cover_CoverStartDateMonth" name="Vehicle.Cover.CoverStartDateMonth" autocomplete="off"><option value="">MMM</option>
            <option value="8">Aug</option>
            <option value="9">Sep</option>
            <option value="10">Oct</option>
        </select>
                                    </li>
                                    <li class="car2mar">
                                        <select class="form-control" id="Vehicle_Cover_CoverStartDateYear" name="Vehicle.Cover.CoverStartDateYear" autocomplete="off"><option value="">YYYY</option>
            <option value="2016">2016</option>
        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="first martop" spellcheck="" contenteditable="false" title="" name="" id="">Your driving history</h3>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">What type of driving licence do you hold?</label>
                            <select class="form-control formwidth" id="LicenseType" name="LicenseType" autocomplete="off"><option value="">Please select...</option>
<option value="F">Full UK car licence</option>
<option value="P">Provisional UK car licence</option>
<option value="NI">Northern Ireland Licence</option>
<option value="E">EEC licence</option>
<option value="JG">Jersey, Guernsey or Isle of Man Licence</option>
<option value="N">International licence</option>
</select>
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">How long have you held a driving licence?</label>
                            <select class="form-control formwidth" id="LengthLicenseHeld" name="LengthLicenseHeld" autocomplete="off">
           <option value="">Please select...</option>
<option value="0">Less than 1 year</option>
<option value="1">1 year</option>
<option value="2">2 years</option>
<option value="3">3 years</option>
<option value="4">4 years</option>
<option value="5">5 years</option>
<option value="6">6 years</option>
<option value="7">7 years</option>
<option value="8">8 years</option>
<option value="9">9 years or more</option>
</select>
                        </div>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">How many years no claim discount do you have available to use on this vehicle?</label>
                            <select class="form-control formwidth" id="Vehicle_Cover_NoClaimsDiscount_NumberOfYears" name="Vehicle.Cover.NoClaimsDiscount.NumberOfYears"
                                autocomplete="off"><option value="">Please select...</option>
<option value="0">None</option>
<option value="1">1 year</option>
<option value="2">2 years</option>
<option value="3">3 years</option>
<option value="4">4 years</option>
<option value="5">5 years</option>
<option value="6">6 years</option>
<option value="7">7 years</option>
<option value="8">8 years</option>
<option value="9">9 years</option>
<option value="10">10 years</option>
<option value="11">11 years</option>
<option value="12">12 years</option>
<option value="13">13 years</option>
<option value="14">14 years</option>
<option value="15">15 years</option>
<option value="F15">More than 15 years</option>
</select>
                        </div>
                        <h3 class="first martop" spellcheck="" contenteditable="false" title="" name="" id="">Your claims</h3>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">Have you been involved in any claims or incidents in the last 4 years?</label>
                            <select class="form-control formwidth" id="NumberOfClaims" name="NumberOfClaims" autocomplete="off"><option value="">Please select...</option>
<option value="0">No claims</option>
<option value="1">1 claim</option>
<option value="2">2 claims</option>
<option value="3">3 claims</option>
<option value="4">4 claims</option>
<option value="5">5 claims</option>
<option value="6">6 or more claims</option>
</select>
                            <p>You must declare all incidents or damage involving any motor vehicle, including:</p>
                            <ul class="padleftZero">
                                <li class="bullets"><i class="fa fa-circle rightmar" aria-hidden="true"></i>Any claim, regardless of who was
                                    at fault</li>
                                <li class="bullets"><i class="fa fa-circle rightmar" aria-hidden="true"></i>Any incidents which did not result
                                    in a claim</li>
                                <li class="bullets"><i class="fa fa-circle rightmar" aria-hidden="true"></i>Windscreen claim</li>
                            </ul>
                        </div>
                        <h3 class="first martop" spellcheck="" contenteditable="false" title="" name="" id="">Your convictions</h3>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">How many motoring convictions or fixed penalties have you had in the last 5 years?</label>
                            <select class="form-control formwidth" id="NumberOfConvictions" name="NumberOfConvictions" autocomplete="off"><option value="">Please select...</option>
<option value="0">No convictions</option>
<option value="1">1 conviction</option>
<option value="2">2 convictions</option>
<option value="3">3 convictions</option>
<option value="4">4 convictions</option>
<option value="5">5 convictions</option>
<option value="6">6 or more convictions</option>
</select>
                        </div>
                        <h3 class="first martop" spellcheck="" contenteditable="false" title="" name="" id="">Additional drivers</h3>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">Would you like to add another driver?</label>
                            <div class="" style="" value="" title="" name="" id="" aria-label="">
                                <ul class="padleftZero carul">
                                    <li>
                                        <button class="btn btn-default btn-lg car car2 secondcar" type="button" title="" name="" id="yes2" value="" aria-label="">Yes</button>
                                        <button class="btn btn-default btn-lg car car2 car2mar" type="button" title="" name="" id="" value="" aria-label="">No</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="first martop" spellcheck="" contenteditable="false" title="" name="" id="">Additional vehicles</h3>
                        <div class="form-group form2">
                            <label style="" for="" role="" title="" name="" id="">Would you like to add another car or van?</label>
                            <div class="" style="" value="" title="" name="" id="" aria-label="">
                                <ul class="padleftZero carul">
                                    <li>
                                        <button class="btn btn-default btn-lg car car2 secondcar" type="button" title="" name="" id="yes1" value="" aria-label="">Yes</button>
                                        <button class="btn btn-default btn-lg car car2 car2mar" type="button" title="" name="" id="" value="" aria-label="">No</button>
                                    </li>
                                </ul>
                                <p>Add a second vehicle and save up to a 1/3</p>
                            </div>
                        </div>
                        <div class="form-group form2 col-md-12 col-lg-12" title="" name="" id="" aria-label="">
                            <a class="btn btn-default btn-lg addbutton conbutton float-left" href="/#firstview" type="button" title="" name="" id="back"
                                value="" aria-label=""><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</a>
                            <a class="btn btn-default btn-lg addbutton conbutton float-right" href="/#thirdview" type="button" title="" name="" id="continue1"
                                value="" aria-label="">Continue<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-lg-2" title="" name="" id="" aria-label="">
                </div>
            </div>
            <div class="col-md-3 col-lg-3 padrightzero" title="" name="" id="" aria-label="">
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-commenting-o" aria-hidden="true"></i>Ask us</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="">Have a question?</label>
                                <input type="text" class="form-control" name="" value="" placeholder="Type your question here...">
                                <button type="submit" class="btn btn-default btn-lg askbtn">Ask<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer backwhite footpad">
                        <h3 class="foothead">
                            <a href="" class="footfont">Browse our  FAQs<i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        </h3>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-phone" aria-hidden="true"></i>Call us</h3>
                    </div>
                    <div class="panel-body">
                        <a href="" class="connum">0800 260 0461</a>
                        <div class="daypad">
                            <span>Monday to Friday</span>
                            <span class="float-right">8.00am - 8.00pm</span>
                        </div>
                        <div class="daypad">
                            <span>Saturday</span>
                            <span class="float-right">8.30am - 5.00pm</span>
                        </div>
                        <div class="daypad">
                            <span>Sunday</span>
                            <span class="float-right">10.00am - 4.00pm</span>
                        </div>
                        <p>For our joint protection, telephone calls may be recorded and/or monitored</p>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-info-circle" aria-hidden="true"></i>Further information</h3>
                    </div>
                    <div class="panel-body">
                        <a href="">Summary of cover<i class="fa fa-chevron-right float-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="panel-footer backwhite">
                        <a href="" class="">About our insurance services<i class="fa fa-file-pdf-o pdf" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-info-circle" aria-hidden="true"></i>Why choose us...</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="padleftZero">
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Online Documents</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Uninsured driver promise</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>24/7 UK accident helpline</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Manage your policy online</li>
                            <li><i class="fa fa-check tick" aria-hidden="true"></i>Defaqto 5 Star rated cover</li>
                        </ul>
                        <p class="text-center"><img src="../../../content/images/defaqto.jpg" alt="Ratings" class="ratimg"></p>
                        <p class="morepara"><a href="" class="moreinfo">More info</a></p>
                    </div>
                    <div class="panel-footer backwhite">
                        <a href="" class="">About our insurance services<i class="fa fa-file-pdf-o pdf" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="panel panel-default panelborder" title="" name="" id="" aria-label="">
                    <div class="panel-heading backwhite">
                        <h3 class="panel-title titlenew"><i class="fa fa-lock" aria-hidden="true"></i>We're secure</h3>
                    </div>
                    <div class="panel-body">
                        <a href=""><img src="../../../content/images/comodo_secure_100x85_white.png" alt="Secure" class=""></a>
                        <p>Buy with confidence. We offer the highest level of security available on the internet. Powered by
                            Comodo.
                        </p>
                        <p class="morepara"><a href="" class="moreinfo">More info</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer role="contentinfo">
    <ul class="site-info hidden-xs">
        <li>
            <a href="">Accessibility<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Legal<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Privacy policy<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="">Cookie policy<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
    </ul>
    <p class="copyright">© 2016 Aviva</p>
</footer>